.mr-sm-3 {
    margin-right: 10.5rem!important;
}
.form-group{
    width: 31%;
    padding-left: 71px;
}
.h3{
    padding-left:8%;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 24rem;
    margin-right: 0px;
    margin-left: 0px;
}